.chatMessages
  position relative
  font-size 14px
  line-height 1.2
  &_disabled
    color #757575
    display table
    margin 0 auto
    div
      display table-cell
      vertical-align middle
      padding 8px 25px
      border-radius 17px
      border 1px solid #757575
