@require "../../common.styl"

.socketConnector
  margin 20px 0
  &-action
    commonAction()
    display block
    margin 8px auto 0

  &-nameIput
    commonInput()
    font-size 16px
    margin-top 12px
