commonInput()
  background-color #FFF
  border none
  padding-left 7px
  &:focus
    outline none
    box-shadow 0 0 1px 1px #FF5722

commonAction()
  background-color #FF5722
  color #FFF
  font-size 11px
  border none
  border-radius 10px
  padding 5px 20px
  outline none
  cursor pointer
  &:hover
    background-color #FF7043
