body
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color #E8F5E9
  color #212121

#content
  position relative
  width 600px
  heigth 100%
  margin 0 auto
  padding 0
  text-align center

h1
  padding 0
  margin 100px 0 56px
  font-size 42px
  line-height 1.2
  color #1B5E20
