.dialogItem
  position relative
  clear both
  float left
  text-align left
  width 70%
  background-color #2E7D32
  color #fff
  padding 16px
  border-radius 20px
  font-size 11px
  margin 3px 0

  &_mine
    float right
    text-align right
    background-color #1B5E20
