@require "../../common.styl"

.messageSender
  position relative
  clear both
  height 120px
  &-userText
    commonInput()
    font-size 12px
    width 400px
    height 20px
    margin-top 5px
    float right
    clear right

  &-sendButton
    commonAction()
    display block
    margin-left 10px
    margin-top 10px
    float right
    clear right
    padding 10px 30px
    border-radius 30px
